body {
  margin: 5px;
  /* background-color: white; */
}

nav {
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: #f1f1f1;
  padding-left: 10px;
}

.nav-end {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  align-items: flex-end;
  padding:0 10px 5px 0;
  
}

/* .nav-end {
  position: relative;
  color: #767575; 
  text-decoration: none;
  padding:5px 2px; 
  transition: padding-bottom 0.3s; 
  padding-left: 15px;
} */

/* .nav-end::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px; 
  background-color:black; 
  transform: scaleX(0); 
  transform-origin: bottom left;
  transition: transform 1s;
}

.nav-end:hover {
  color: black;
  padding-bottom: 4px;
}

.nav-end:hover::after {
  transform: scaleX(.5);
} */

a {
  text-decoration: none;
  color: #333;
}

hr {
  margin: 0;
}

/* home */
.home {
  display: flex;
  margin-top: 35px;
  margin-bottom: 50px;
  background-color: #ffffff;
  height: 550px;
  width: 100%;
}


.home-text {
  text-align: start;
  width: 650px;
  font-family: 'Public Sans', sans-serif;
  font-weight: 50;
  font-size: 1.15em;
  color: black;
  padding: 45px 15px 0 15px;
}

.home-text span {
  font-size: 1.5em;
  font-weight: 100;
  color: black;
}

.background-img {
background-image: url("./pages/image/card.webp");
height: 100%;
width: 300px;
opacity: 0.8;
}

.home-image {
  width: 600px;
  height: 550px;
  opacity: 0.8;
}


/* card */

.card {
  width: 350px;
  height: 200px;
  /* padding: 75px; */
  border: 1.5px solid #333;
  background-color: white;
  box-shadow: 0 4px 6px rgba(4, 4, 4, 0.598);
  font-family: Arial, sans-serif;
  position: relative;
  margin-bottom: 25px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card-link:hover {
  transform:scaleZ(2);
}

.line {
  position: absolute;
  top: 0;
  right: 65px; 
  height: 100%; 
  width: 2px; 
  background-color: #ff9900;
}
.name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.title {
  font-size: 16px;
  color: #666;
  margin-bottom: 15px;
}
.contact {
  font-size: 14px;
  color: #333;
}

.card1{
  width: 350px;
  height: 200px;
  border: 2px solid #333;
  box-shadow: 0 4px 6px rgba(4, 4, 4, 0.598);
  font-family: Arial, sans-serif;
  position: relative;
  margin-bottom: 25px;
}

.card2{
  width: 350px;
  height: 200px;
  background-color: #000000;
  box-shadow: 0 4px 6px rgba(4, 4, 4, 0.598);
  font-family: Arial, sans-serif;
  margin-bottom: 25px;
}

.card2-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:20%;
}

.card2-css {
  margin: 0;
  color: white;
}

/* index */
.index {
  /* margin-top: 5%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 5% 0 2% 0;
}

.index-background {
  background-image: url("./pages/image/IMG.JPG");
  background-repeat: repeat-y;
  background-size: cover;
  padding-bottom: 15px;
}

/* footer */
.footer-wrapper {
  display: flex;
  background-color: black;
  color: white;
  height: 100px;
  margin-bottom: 0;
  /* margin-top: 15px; */
}

.footer {
  display: flex;
  flex: 0.5;
  justify-content: flex-start;
  gap: 15px;
  padding-top: 15px;
  padding-left: 15px;
  font-size: small;
}

.footer-icon {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  gap: 15px;
  padding: 25px 15px 0 0;
}

.footer-bird {
  width: 15px;
  height: 15px;
  background-color: white;
}
.footer-link {
  color: white;
}

/* form */
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.card-form {
  width: 300px;
  padding: 20px 35px 20px 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: grid;
  gap: 10px; /* Adjust the gap as needed */
}

.card-form label {
  display: block;
  font-weight: bold;
}

.card-form input {
  width: 100%;
  padding: 8px 8px 8px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-top: 25px;
  width: 100px;
  height: 30px;
  margin-right: 45px;
}

/* show */
.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}
.show-background {
  background-image: url("./pages/image/IMG.JPG");
  background-size: cover;
  opacity: 0.8;
}
.show-img {
  display: flex;
  justify-content: center;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  padding:3% 0 5% 0 ;
}

.btn {
  border:1px solid black;
  padding:7px;
  border-radius: 5px;
  background-color: #e7e7e7;
}

/* newPage */
.new-wrapper {
  display: flex;
  gap: 50px;
  padding: 50px 0 0 50px;
}

/* select {
 background-color: #e7e7e7;
 padding: 0 10px 0 10px;
 border-radius: 5px;
} */
.dotted-line {
  height: 100vh; /* Adjust the height as needed */
  border-left: 1px dotted black; /* Dotted line styling */
  margin: 10px 0; /* Adjust margin as needed */
}

new-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #e7e7e7;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.new-select:hover {
  background-color: #ddd;
}

.new-select:focus {
  background-color: #ccc;
}

.new-select option {
  background-color: #f8f8f8;
  color: #333;
}

.new-select:hover option {
  display: block; /* Display options on hover */
}

.new-pic {
  width: 700px;
  height: 550px;
  padding-top: 25px;
  opacity: 0.7;
}

/* review */
.review-head {
  padding-left:15px ;
}
.review {
  display: flex;
  flex-direction: column;
  width: 10%;
  padding-left: 15px;
  margin-right: 10%;
}
.review div {
  display: inline;
  border-radius: 5px;
  background-color: #000000;
  padding: 5px;
  color: white;
  margin-bottom: 10px;
}
.review p {
  text-decoration: underline;
}
.review h1:hover {
  background-color: #ccc;

}
.review-head {
  position: relative;
  overflow: hidden;
}

.review-head:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #ccc;
  transition: height 0.8s;
  z-index: -1;
}

.review-head:hover:after {
  height: 100%;
}

@media screen and (max-width: 600px) {
  nav {
    height: 75px;
  }

  .new-pic {
    display: none;
  }
  .background-img {
    display: none;
  }
.home-image {
  display: none;
}

.review {
  width: 45%;
}
.review-head {
  padding-top: 45px;
}

.card-form {
  width: 150px;
}
}