/* print.css */
@media print {
  body * {
    visibility: hidden;
  }
  .printable-content, .printable-content * {
    visibility: visible;
  }
  .printable-content {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.printable-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.printing .card-container,
.printing .new-pic {
  display: none;
}